.package_tab,.pack_tab{ position:absolute; left:0%; width:100%; height: auto; min-height:33px; padding:10px 0; background-color:rgba(255, 255, 255, 0.7);  text-align:center; display:none; margin-top: 10px;}
#interface_header_privileges{width:100%; height:50px; position: fixed; z-index:15; left:0; top:50px; padding:15px 0; background-color:rgba(0, 0, 0, 0.3);}
#interface_header_privileges .bt_menu{ display:inline-block; font-family: 'db_heaventlight_cond'; line-height:20px; font-size:17px; color:#fff; margin:0 20px;}
#interface_header_privileges .bt_menu img{vertical-align:top; margin-top:-12px; cursor:auto;}
#interface_header_privileges .bt_menu:hover, #interface_header_privileges .bt_menu.current{cursor:pointer; color:#b2d233;}

.pack_menu_wrap{ width:100%; height:auto; position: absolute; z-index:10; left:0; top:50px; padding:10px 0; background-color:rgba(255, 255, 255, 0.7); display:none; }
.pack_menu_box{ display:inline-block; width:49%; height:auto; text-align:center; float: left;}
.pack_menu_box .head{font-family: 'db_heaventlight_cond'; line-height:28px; font-size:16px; color:#251E15; display:inline-block; vertical-align: top; float: left;}
.pack_menu_list{display:inline-block; float:left;}
.pack_menu_box li{ list-style:disc; margin-left:20px; font-family: 'db_heaventlight_cond'; line-height:28px; font-size:16px; color:#1B1B1B;}
.pack_menu_box li:hover, .pack_menu_box li.current{color:#5F8B23; cursor:pointer;}
.pack_menu_box a{color:#000000; cursor:pointer;}
.pack_menu_box a:hover{color:#5F8B23; cursor:pointer;}

.menu_acc:hover{color:#5F8B23; cursor:pointer;}
.pack_m_left{width:40%; margin-left: 36px;}
.pack_m_right{width:49%;}


.pack_serenade1{width:20%; }
.pack_serenade2{width:20%; }
.pack_serenade3{width:20%; }
.pack_serenade4{width:20%; }
.pack_serenade5{width:20%; }

.pack_privileges1{width:20%; }
.pack_privileges2{width:20%; }
.pack_privileges3{width:20%; }
.pack_privileges4{width:20%; }
.pack_privileges5{width:20%; }

.pack_experiences1{width:33%; }
.pack_experiences2{width:33%; }
.pack_experiences3{width:33%; }

.pack_services1{width:33%; }
.pack_services2{width:33%; }
.pack_services3{width:33%; }



.menu_bis{width:20%;}
.menu_head_sub{
	display:inline-block; 
	width:38%; 
	font-family: 'db_heaventlight_cond';
	line-height: 28px;
	font-size: 16px;
	color: #1B1B1B;
	vertical-align: top;
	float:left;
}
.menu_bis_big{ display:inline-block;}

.news_copyright {
	font-family: 'db_heaventlight_cond';
    line-height: 26px;
    font-size: 16px;
    color: #2D2727;
}
li.primary-link-head {
    color: #fff;
    border-bottom: 1px solid #676767;
    line-height: 42px;
    padding-left: 20px;
}
li.primary-link-lv1 {
    color: #fff;
    border-bottom: 1px solid #676767;
    line-height: 42px;
    padding-left: 20px;
}
li.primary-link-lv1:hover {
    color: #b4d237;
    border-bottom: 1px solid #676767;
    line-height: 42px;
    padding-left: 20px;
}
.bt_tab{ display:inline-block; padding:0 15px; font-family: 'db_heaventlight_cond'; line-height:28px; font-size:16px; color:#5B4F49;}
.bt_tab:hover, .bt_tab.current{color:#698B19; cursor:pointer;}
.bt_tab.line{ border-right:solid 1px #D9E1E6;}
.bt_tab .pack_txt{display:inline-block;}
.row_ais {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.text-center {
    text-align: center !important;
}

#interface_header_privileges{ display:block;}
@media screen and (max-width: 1024px) {
#interface_header_privileges{ display:none;}
}