img {
  border: none;
}
body {
  /* font-family: 'db_heavent', Helvetica, sans-serif !important; */
  font-size: 18px;
  line-height: 1.7em;
  margin: 0;
  color: #000;
  background-color: #f1f1f1;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:active {
  text-decoration: none;
  cursor: pointer;
}
a:focus {
  text-decoration: none;
  cursor: pointer;
}
.c-black {
  color: #000 !important;
}
.c-darkgrey {
  color: #404040 !important;
}
.c-white {
  color: #fff !important;
}
.c-green {
  color: #b2d234 !important;
}
.c-darkgreen {
  color: #78b626 !important;
}
.c-darkgreen2 {
  color: #7a9409 !important;
}
.c-pink {
  color: #ea1873 !important;
}
.c-violet {
  color: #664398 !important;
}
.nopadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.noborder {
  border: none !important;
}
.clear {
  clear: both;
}
.clear-padding {
  padding: 0;
}
.clear-margin {
  margin: 0;
}
.select-box-dropdown {
  font-family: 'arial';
}
/* ------------------------------------------------ */
/* ------------ PADDING & MARGIN ------------------ */
/* ------------------------------------------------ */
.padding-0 {
  padding: 0px !important;
}
.margin-top-0 {
  margin-top: 0px !important;
}
.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}
.margin-top-40 {
  margin-top: 40px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.margin-top-80 {
  margin-top: 80px !important;
}
.margin-top-100 {
  margin-top: 100px !important;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-left-0 {
  margin-left: 0px !important;
}
.margin-left-5 {
  margin-left: 5px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-left-15 {
  margin-left: 15px !important;
}
.margin-left-20 {
  margin-left: 20px !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}
.margin-left-40 {
  margin-left: 40px !important;
}
.margin-left-50 {
  margin-left: 50px !important;
}
.margin-right-0 {
  margin-right: 0px !important;
}
.margin-right-5 {
  margin-right: 5px !important;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.margin-right-15 {
  margin-right: 15px !important;
}
.margin-right-20 {
  margin-right: 20px !important;
}
.margin-right-30 {
  margin-right: 30px !important;
}
.margin-right-40 {
  margin-right: 40px !important;
}
.margin-right-50 {
  margin-right: 50px !important;
}
.padding-left-0 {
  padding-left: 0px !important;
}
.padding-left-5 {
  padding-left: 5px !important;
}
.padding-left-10 {
  padding-left: 10px !important;
}
.padding-left-15 {
  padding-left: 15px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-left-30 {
  padding-left: 30px !important;
}
.padding-left-40 {
  padding-left: 40px !important;
}
.padding-left-50 {
  padding-left: 50px !important;
}
.padding-right-0 {
  padding-right: 0px !important;
}
.padding-right-5 {
  padding-right: 5px !important;
}
.padding-right-10 {
  padding-right: 10px !important;
}
.padding-right-15 {
  padding-right: 15px !important;
}
.padding-right-20 {
  padding-right: 20px !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}
.padding-right-40 {
  padding-right: 40px !important;
}
.padding-right-50 {
  padding-right: 50px !important;
}
.padding-right-60 {
  padding-right: 60px !important;
}
.padding-right-75 {
  padding-right: 75px !important;
}
.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}
.padding-bottom-10 {
  padding-bottom: 10px !important;
}
.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}
.padding-bottom-40 {
  padding-bottom: 40px !important;
}
.padding-bottom-50 {
  padding-bottom: 50px !important;
}
.padding-top-0 {
  padding-top: 0px !important;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}
.padding-top-40 {
  padding-top: 40px !important;
}
.padding-top-50 {
  padding-top: 50px !important;
}
.t-click {
  -webkit-transition: 0.25s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.25s all cubic-bezier(0.23, 1, 0.32, 1);
}
.t-40 {
  -webkit-transition: 0.4s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.4s all cubic-bezier(0.23, 1, 0.32, 1);
}
.t-50 {
  -webkit-transition: 0.5s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s all cubic-bezier(0.23, 1, 0.32, 1);
}
.t-60 {
  -webkit-transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.6s all cubic-bezier(0.23, 1, 0.32, 1);
}
.t-80 {
  -webkit-transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.8s all cubic-bezier(0.23, 1, 0.32, 1);
}
.t-120 {
  -webkit-transition: 1.2s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 1.2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1.2s all cubic-bezier(0.23, 1, 0.32, 1);
}
.t-240 {
  -webkit-transition: 6s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 6s all cubic-bezier(0.23, 1, 0.32, 1);
}
.t-600 {
  -webkit-transition: 6s all cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 6s all cubic-bezier(0.23, 1, 0.32, 1);
}
.table-heading {
  text-align: left;
  color: #000;
  margin-bottom: 30px;
}
.table-heading img {
  width: 105px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.table-heading .teble-heading-text {
  width: calc(-10%);
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.table-heading .teble-heading-text .premier {
  height: 34px;
  width: auto;
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
.table-heading.full {
  margin-bottom: 25px;
}
.table-heading.full .teble-heading-text {
  width: 100%;
}
.table-heading h2 {
  font-size: 1.6em;
  line-height: 1.15em;
  margin-top: 2px;
  padding-left: 15px;
  font-weight: 500;
}
.table-heading h2 span {
  font-size: 1.3em;
}
.table-heading h2 span.line3 {
  font-size: 1.04em;
  position: relative;
  display: inline;
  vertical-align: middle;
  margin-bottom: 0px;
  font-weight: 500 !important;
}
.table-heading h2 span.line2 {
  font-size: 1.04em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  font-weight: 500 !important;
}
.table-condition {
  position: relative;
  text-align: left;
  color: #000;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
}
.table-condition ul li {
  padding-left: 0px;
}
.table-condition ul li::before {
  content: '•';
  position: absolute;
  left: 20px;
}
.mobile-table {
  position: relative;
  display: block;
  width: 100%;
}
.mobile-table .table-left {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 220px;
  z-index: 2;
}
.mobile-table .table-left img {
  width: auto;
}
.mobile-table .table-bg {
  height: 220px;
  width: 100%;
  position: relative;
  overflow: scroll;
  text-align: left;
  border-radius: 15px;
  border-top-right-radius: 0px;
}
.mobile-table .table-bg img {
  height: 100%;
  max-width: none;
}
.mobile-table .scroll-hand {
  position: absolute;
  z-index: 3;
  top: 50px;
  left: 60px;
  width: 100px;
  height: auto !important;
  -webkit-transition: 0.45s opacity cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.45s opacity cubic-bezier(0.23, 1, 0.32, 1);
}
.bold {
  font-weight: 500;
}
.slick-slide {
  margin: 0 10px;
  outline: none;
}
.star {
  width: 10px;
  position: relative;
  top: -1px;
  vertical-align: middle;
}
/* ------------------------------------------------ */
/* ------------------- Condition --------------------- */
/* ------------------------------------------------ */
.section-condition {
  background-color: #f5f5f5;
  padding: 30px 0px 60px;
}
.section-condition .condition {
  text-align: left;
  color: #000;
  margin-top: 2em;
}
.section-condition .condition .condition-button {
  height: 40px;
  background-color: #363636;
  display: inline-block;
  width: auto;
  height: 45px;
  line-height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 7px;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 767px) {
  .section-condition .condition .condition-button {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.section-condition .condition .condition-content {
  margin-left: 20px;
  border-left: 3px solid #e7e7e7;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .section-condition .condition .condition-content {
    margin-left: 5px;
    padding-left: 10px;
  }
}
.section-condition .condition .condition-content h5 {
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-top: 20px;
  font-weight: 600;
  color: #97b914;
}
.section-condition .condition .condition-content a {
  color: #97b914;
}
@media (max-width: 767px) {
  .section-condition .condition .condition-content ol {
    padding-left: 5px;
    margin-left: 0px;
  }
}
.section-condition .condition .condition-content ol > li,
.section-condition .condition .condition-content ul > li {
  font-size: 0.9em;
  margin-bottom: 0.4em;
  padding-left: 4px;
  position: relative;
  color: #595151;
}
@media (max-width: 767px) {
  .section-condition .condition .condition-content ol > li,
  .section-condition .condition .condition-content ul > li {
    font-size: 0.85em;
  }
}
.section-condition .condition .condition-content ul > li {
  padding-left: 12px;
  font-size: 0.9em;
}
@media (max-width: 991px) {
  .section-condition .condition .condition-content ul > li {
    margin-left: 0px;
    font-size: 0.85em;
    line-height: 1.7em;
  }
}
@media (max-width: 767px) {
  .section-condition .condition .condition-content ul > li {
    margin-left: 0px;
    font-size: 0.8em;
  }
}
.section-condition .condition .condition-content ul > li::before {
  content: '•';
  position: absolute;
  left: 0px;
}
.sarnrak-menu-logo {
  height: 38px;
  padding-bottom: 5px;
}
#aisfooter {
  position: relative;
  z-index: 20;
}
@media (max-width: 767px) {
  #ais_topbar.mini-menu.no-en #topbar_search {
    margin-right: 100px;
  }
}
.ais_topbar-eservice-text {
  font-size: 1.6rem;
}
@media (max-width: 767px) {
  #ais_topbar.custom-menu #ais_topbar_top .menu__link {
    font-size: 15px;
  }
}
#aisfooter {
  position: relative;
  z-index: 20;
}
.ais_footer-call-txt {
  font-size: 1em;
  line-height: 1em;
}
.menu__item_index {
  display: inline-block;
}
@media (max-width: 991px) {
  .menu__item_index {
    display: none !important;
  }
}
.nav-slidedown .menu__item_index {
  display: block !important;
  padding-bottom: 5px;
}
@media (max-width: 991px) {
}
