.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

h3 {
	background: #fff;
    color: #7E9E16;
    font-size: 36px;
    padding: 2%;
    position: relative;
	text-align: center;
}
/* .slick-prev:before, .slick-next:before {
	color: #444444;
}
.slick-prev{
	top : 45%;
	left: -35px;
}
.slick-next{
	right: -35px;
	top : 45%;
}
.slide-wrapper {
	max-width: 80%;
	margin: 0 auto;
} */
c{
	color:#7E9E16;
}
.img-main{
	max-width: 80%;
	margin: 0 auto;
}

@media (max-width: 575px) {
	.section-blog-container .container .blog-content p {
	  font-size: 0.75em;
	  margin-bottom: 10px;
	}
  }
  @media (max-width: 1199px) {
	.section-blog-container .container .blog-content ul {
	  font-size: 0.85em;
	}
  }
  @media (max-width: 991px) {
	.section-blog-container .container .blog-content ul {
	  font-size: 0.8em;
	  line-height: 1.8em;
	}
  }
  @media (max-width: 575px) {
	.section-blog-container .container .blog-content ul {
	  font-size: 0.75em;
	  margin-bottom: 10px;
	}
  }
.blog-selector-container {
    text-align: center;
    margin: 30px 0px;
}
.blog-selector-container .blog-selector {
    width: 100%;
    max-width: 600px;
    position: relative;
    display: inline-block;
    border: 1px solid #b7b7b7;
	border-radius: 5px;
}
.blog-selector-container .blog-selector .blog-selector-item.active {
    background-color: #b2d234;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.12);
}
.blog-selector-container .blog-selector .blog-selector-item {
    width: calc(50%);
    color: #000;
    position: relative;
    float: left;
    vertical-align: middle;
    padding: 5px 10px;
    border-right: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.read-more{
	color: rgb(0, 0, 0);
	border: 1px solid #7E9E16;
	font-size: 1.1vw;
}
button:focus{
	outline: none;
}
.indent{
	text-indent: 3em;
}
