// out: style.css

#container{
  position: relative;display: inline-block;width: 100%;overflow: hidden;
}
.container-fluid{position:relative;}
.container{padding-left: 50px;padding-right: 50px;
    @media  (max-width: 1199px) {
        padding-left: 30px;padding-right: 30px;
    }
    @media  (max-width: 991px) {
        padding-left: 0px;padding-right: 0px;
    }
    @media  (max-width: 767px) {
        padding-left: 0px;padding-right: 0px;
    }
    @media  (max-width: 575px) {
        padding-left: 0px;padding-right: 0px;
    }
}
video{max-width: 100%;}
body{
  background-color: #050807;color: #fff;overflow: hidden;
  font-family: 'db_heavent', Helvetica, sans-serif !important;
}


#container{text-align: center;position: absolute;width: 100%;height: 100%;overflow: hidden;}

.content-container {
    width: 71.3vh;display: inline-block;position: relative;
    @media (max-width: 576px) {
      width: 100vw;
    }
    .after {
      padding-top: 140.25%;display: block;content: '';
      // @media (max-width: 576px) {
      //   padding-top: calc(~"100vh - 100px");
      // }
    }
    .content-container-inner {
      position: absolute;top: 0;bottom: 0;right: 0;left: 0;color: white;
    }
}

.section{
  display: none;
  @media (max-width: 576px) {
    height: 100vh;
  }
}


/* ------------------------------------------------ */
/* --------------- Section Video ------------------ */
/* ------------------------------------------------ */
.section-video{
    video{position: absolute;width: 100%;height: 100%;left: 0px;top: 0px;}
    background-color: #000;
    .content-container{
      @media (min-width: 992px) {
        width: 80vw;
      }
      .after {
        @media (min-width: 992px) {
          padding-top: 77.90%;
        }
        // @media (max-width: 576px) {
        //   padding-top: calc(~"100vh - 160px");
        // }
        // @media (max-width: 375px) {
        //   padding-top: calc(~"100vh - 100px");
        // }
      }
    }
    .video-container{
        position: absolute;width: 100%;height: 100%;display: block;text-align: center;
        .title{position: absolute;width: 40%;left: 30%;margin-top: 5%;}
        .choose-team1{
          position: absolute;width: 45%;left: 27.5%;top: 17%;
          img{width: 100%}
        }
        .choose-team2{
          position: absolute;width: 50%;left: 25%;top: 49%;
          img{width: 100%}
        }

    }
    .howto-nav{
        position: absolute;bottom: 4%;width: 100%;text-align: right;padding-right: 4%;z-index: 20;
        .howto-start{
          @media (min-width: 992px) {
            width: 15%;
          }
          width: 25%;position: relative;display: inline-block;margin-right: 1%;cursor: pointer;opacity: 0;transform: scale(0.8);
          &.active{opacity: 1;transform: scale(1);}
          img{
            width: 100%;
            &:hover{transform: scale(1.1);}

          }
        }
    }
}

/* ------------------------------------------------ */
/* --------------- Section Howto ------------------ */
/* ------------------------------------------------ */

.section-howto{
    background: url('../images/howto/howto-bg.jpg');background-size: cover;background-position: center center;width: 100%;height: 100%;
    @media (min-width: 992px) {
      background: url('../images/howto/howto-bg-d.jpg');background-size: cover;background-position: center center;
    }
    .content-container{
        @media (min-width: 992px) {
          width: 80vw;
        }
        @media (min-aspect-ratio: 695/400) and (min-width: 992px)
        {
            width: 70vw;
        }
        .after {
          @media (min-width: 992px) {
            padding-top: 77.90%;
          }

          // @media (max-width: 576px) {
          //   padding-top: calc(~"100vh - 160px");
          // }
          // @media (max-width: 375px) {
          //   padding-top: calc(~"100vh - 100px");
          // }
        }
    }
    .howto-container{
        .howto-page{
            #fb-btn{
              margin-top: 50% !important;
              @media (min-width: 992px) {
                margin-top: 42% !important;
              }
            }
            opacity: 0;    position: absolute;width: 100%;height: 100%;
            &.howto-hidden{transform: scale(0.8);opacity: 0;}
            &.howto-show{transform: scale(1);opacity: 1}
            .howto-img{
              width: 78%;position: absolute;top: 4%;left: 11%;
              @media (min-width: 992px) {
                top: 13%;width: 86%;left: 7%;
              }
            }
            .howto-orange{
              position: absolute;z-index: 10;width: 45%;top: 69%;left: 6%;
              @media (min-width: 992px) {
                width: 25%;top: 60%;left: 0%;
              }
            }
        }
        .howto-nav{
            &.howto-hidden{transform: scale(0.8);opacity: 0;}
            &.howto-show{transform: scale(1);opacity: 1}
            position: absolute;bottom: 1%;width: 100%;text-align: center;z-index: 20;
            @media (min-width: 992px) {
              bottom: 20%;
            }
            .howto-skip{
              width: 22%;position: relative;display: inline-block;margin-right: 1%;cursor: pointer;
              @media (min-width: 992px) {
                width: 15%;
              }
              img{
                width: 100%;
                &:hover{transform: scale(1.1);}

              }
            }
            .howto-next{
              width: 22%;position: relative;display: inline-block;margin-left: 1%;cursor: pointer;
              @media (min-width: 992px) {
                width: 15%;
              }
              img{
                width: 100%;
                &:hover{transform: scale(1.1);}

              }
            }
        }
    }
}

/* ------------------------------------------------ */
/* --------------- Section Choose ------------------ */
/* ------------------------------------------------ */

.section-choose{
    background: url('../images/howto/howto-bg2.jpg');background-size: cover;background-position: center center;width: 100%;height: 100%;
    @media (min-width: 992px) {
      background: url('../images/howto/howto-bg-d.jpg');background-size: cover;background-position: center center;
    }
    .content-container{
        @media (min-width: 992px) {
          width: 80vw;
        }
        @media (min-aspect-ratio: 695/400) and (min-width: 992px)
        {
            width: 70vw;
        }
        .after {
          @media (min-width: 992px) {
            padding-top: 77.90%;
          }
          // @media (max-width: 576px) {
          //   padding-top: calc(~"100vh - 230px");
          // }
          // @media (max-width: 375px) {
          //   padding-top: calc(~"100vh - 100px");
          // }
          // // // iPhone Pro Max
          // @media (min-aspect-ratio: 400/695)
          // {
          //     padding-top: calc(~"100vh - 200px");display:none;
          // }
        }
    }
    .choose-container{
        position: absolute;width: 100%;height: 100%;display: block;text-align: center;opacity: 0;transform: scale(0.8);
        &.active{opacity: 1;transform: scale(1);}
        .title{
          position: absolute;width: 40%;left: 30%;margin-top: 5%;
          @media (min-width: 992px) {
            width: 30%;left: 35%;
          }
        }
        .choose-team1{
          position: absolute;width: 45%;left: 27.5%;top: 17%;
          @media (min-width: 992px) {
            width: 25%;left: 20%;top: 30%;
          }
          img{width: 100%}
        }
        .choose-team2{
          position: absolute;width: 50%;left: 25%;top: 49%;
          @media (min-width: 992px) {
            width: 28%;right: 20%;left: auto;top: 28%;
          }
          img{width: 100%}
        }
        .howto-nav{
            position: absolute;bottom: 4%;width: 100%;text-align: center;z-index: 20;
            @media (min-width: 992px) {
              bottom: 10%;
            }
            .howto-start{
              width: 25%;position: relative;display: inline-block;margin-right: 1%;cursor:pointer;
              @media (min-width: 992px) {
                width: 20%;
              }
              img{
                width: 100%;
                &:hover{transform: scale(1.1);}

              }
            }
        }
    }
}

/* ------------------------------------------------ */
/* --------------- Section Game ------------------ */
/* ------------------------------------------------ */

.section-game{
    background: url('../images/game/bg.jpg');background-size: cover;background-position: center center;
    @media (min-width: 992px) {
      background: url('../images/game/bg-d.jpg');background-size: cover;background-position: center center;
    }
    .game-container{
        position: absolute;width: 100%;height: 100%;display: block;text-align: center;
        .clock-container{position: absolute;top: 2%;left: 2%;width: 120px;z-index: 10;
            @media (min-width: 992px) {
              left: -30%;
            }
            .clock-bg{width: 100%;position: relative;left: 0px;top: 0px;}
            p{z-index: 10;position: absolute;width: 100%;height: 100%;padding-right: 3px;line-height: 117px;top: 0px;}
        }
        .score-container{position: absolute;top: 5%;right: 2%;width: 150px;z-index: 10;
            @media (min-width: 992px) {
              right: -35%;
            }
            .score-bg{width: 100%;position: relative;left: 0px;top: 0px;}
            p{z-index: 10;position: absolute;width: 100%;height: 100%;padding-right: 10%;line-height: 50px;top: 0px;}
        }
        .droprow-container{
            position: absolute;width: 100%;height: calc(~"100% + 100px");top: -100px;left: 0px;
            .droprow{
                position: relative;float: left;width: 20%;height: 100%;
                .drop-item{
                  width: 100%;height: 100px;background-color: yellow;position: absolute;
                  &.type-1{background-color: yellow;background: url('../images/game/type1.png');background-size: 100%;background-position: bottom center;background-repeat: no-repeat;}
                  &.type-2{background-color: red;background: url('../images/game/type2.png');background-size: 100%;background-position: bottom center;background-repeat: no-repeat;}
                }
            }
        }
        .bubble-container{
            .bubble-1{position: absolute;width: 36%;left: 32%;top: 45%}
            .bubble-2{position: absolute;width: 22%;left: 16%;top: 61%}
            .bubble-3{position: absolute;width: 30%;left: 11%;top: 35%}
            .bubble-4{position: absolute;width: 33%;left: 58%;top: 31%}
            .bubble-5{position: absolute;width: 30%;left: 62%;top: 54%}
            .bubble-6{position: absolute;width: 36%;left: 32%;top: 45%}
            .bubble-item{
              opacity: 0;transform: scale(0.7);
              &.active{opacity: 1;transform: scale(1);}
            }
        }
        .bottom-check{
          position: absolute;width: 100%;bottom: 0px;left: 0%;height: 20%;
          .check-item{
            position: relative;float: left;height: 100%;width: 20%;border-right:1px solid #000;border-left:1px solid #000;background-color: rgba(255,255,255,0.4);
            &.active{background-color: rgba(255,255,255,0.7)}
          }
        }
        .bottle-container{
            position: absolute;width: 100%;bottom: 0px;left: 0%;height: 10%;
            .bottle{
                position: absolute;left: 0%;bottom: 0px;width: 20%;height: 100%;
                .bottle-inner{
                    position: absolute;width: 100%;height: 100%;background-color: red;left: -50%;
                    .bottle-img{
                      width: 140%;left: -20%;bottom: 0%;position: absolute;transform: scale(1);
                      &.active{transform: scale(1.2);}
                    }
                }
            }
        }

    }
}

/* ------------------------------------------------ */
/* --------------- Section Score ------------------ */
/* ------------------------------------------------ */

.section-score{
    background: url('../images/howto/howto-bg2.jpg');background-size: cover;background-position: center center;width: 100%;height: 100%;

    @media (min-width: 992px) {
      background: url('../images/game/bg-d.jpg');background-size: cover;background-position: center center;
    }
    .content-container{
        @media (min-width: 992px) {
          width: 80vw;
        }
        @media (min-aspect-ratio: 695/400) and (min-width: 992px)
        {
            width: 65vw;
        }
        .after {
          @media (min-width: 992px) {
            padding-top: 77.90%;
          }
          // @media (max-width: 576px) {
          //   padding-top: calc(~"100vh - 230px");
          // }
          // @media (max-width: 375px) {
          //   padding-top: calc(~"100vh - 100px");
          // }
        }
    }
    .hidden-canvas{
      display: none;
    }
    .score-container{
        position: absolute;width: 100%;height: 100%;display: block;text-align: center;opacity: 0;transform: scale(0.8);
        &.active{opacity: 1;transform: scale(1);}
        .top-container{
          position: absolute;width: 90%;left: 5%;top: 3%;height: 30%;background-color: rgba(255,255,255,0.8);border-radius: 12px;
          @media (min-width: 992px) {
            width: 45%;left: 4%;top: 21%;
          }
          .profile-img{position: absolute;width: 30%;top: 10%;left: 10%;border-radius: 100%;border:4px solid #fff;}
          .text-img{position: absolute;width: 40%;top: 61%;left: 5%;}
          .score-img{position: absolute;width: 30%;top: 16%;left: 58%;}
          .score-display{position: absolute;width: 30%;top: 60%;left: 58%;text-align: center;font-size: 100px;color: #000;}

        }
        .score-bottle{
          position: absolute;width:70%;left: 15%;bottom: 20%;
          @media (min-width: 992px) {
            width: 40%;left: 55%;bottom: 38%;
          }
        }
        .ref{
          position: absolute;width: 90%;left: 5%;bottom: 3%;
          @media (min-width: 992px) {
            width: 70%;left: 15%;bottom: 10%;
          }
        }
    }
}

/* ------------------------------------------------ */
/* ------------- Section Register ----------------- */
/* ------------------------------------------------ */
.section-register{
    background: url('../images/register/bg.jpg');background-size: cover;background-position: center center;
    .register-container{
        position: absolute;width: 100%;height: 100%;display: block;text-align: center;opacity: 0;transform: scale(0.8);
        &.active{opacity: 1;transform: scale(1);}
        .register-panel{
          background-color: #fefcff;position: absolute;width: 80%;position: absolute;left: 10%;height: 60%;top: 20%;border-radius: 5%;padding: 0% 5%;min-height: 380px;
          @media (max-width: 359px) {
            min-height: 340px;
          }
          .regis-header{width: 100%;margin-top: -5%}
          .title{width: 40%;position: absolute;top: -8%;left: 30%;}
          .input-container{margin-top: 8%}
          input{margin-bottom: 5%}
          .submit-btn{
            background-color: transparent;outline:none;border:none;width: 46%;position: absolute;bottom:-10%;left: 12%;
            img{width: 100%;}
          }
          .share{width: 20%;position: absolute;bottom: -10%;left: 60%;}
        }
    }
}
