.swal2-html-container {
    font-size: 1.3em !important;
}

.swal2-container .swal2-actions *[type=button] {
    font-size: 1.5em !important;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    -webkit-transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

input[type=text] {
    -webkit-user-select: text;
    user-select: text;
}

.please-rotate {
    display: none;
    background-color: rgba(244, 244, 244, 1);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000
}

.please-rotate img {
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -30px;
}


/* 
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .please-rotate {
        display: block;
    }
}

@media (max-height: 414px) and (min-width: 700px) {
    .please-rotate {
        display: block;
    }
}

@media (max-height: 375px) and (min-width: 620px) {
    .please-rotate {
        display: block;
    }
}

@media (max-height: 320px) and (min-width: 420px) {
    .please-rotate {
        display: block;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .please-rotate {
        display: block;
    }
} */

*:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#gameplay {
    pointer-events: none;
}

.mt-s {
    margin-top: 6rem!important;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../images/default.gif');
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position: center;
}

#container {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.container-fluid {
    position: relative;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}


/* The container */

.consent {
    /* padding-top: 5px; */
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.consent input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: solid #DDDDDD;
    border-width: 1px;
}


/* On mouse-over, add a grey background color */

.consent:hover input~.checkmark {
    background-color: #fff;
}


/* When the checkbox is checked, add a blue background */

.consent input:checked~.checkmark {
    background-color: #fff;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.consent input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.consent .checkmark:after {
    left: 8px;
    top: -2px;
    width: 9px;
    height: 23px;
    border: solid #19a7e4;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* Modal Content */


/* .modal-content {
  background-color: #FCFDDD;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border-style: solid;
  border-radius: 15px;
  border-color: #009B3B;
  border-width: 5px;
  max-width: 280px;
  max-height: 500px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
} */


/* .modal-header {
  padding: 2px 16px;

  color: white;
} */

#term_body {
    /* margin: auto; */
    overflow-y: scroll;
    max-height: 70vh;
    /* height: 300px; */
    /* height: 100%; */
}

.modal-footer {
    color: #4B4B4B;
    font-weight: bold;
    font-size: 30px;
    justify-content: unset !important;
    margin: auto;
}

@media (max-width: 1199px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 991px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
}

video {
    max-width: 100%;
}

body {
    background-color: #ffffff;
    color: #fff;
    overflow: hidden;
    font-family: 'DB Heavent' !important;
    font-weight: bold;
}

#container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-container {
    width: 71.3vh;
    display: inline-block;
    position: relative;
}

@media (max-width: 576px) {
    .content-container {
        width: 100vw;
    }
}

.content-container .after {
    padding-top: 140.25%;
    display: block;
    content: '';
}

.content-container .content-container-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}

.section {
    display: none;
}


/* @media (max-width: 576px) {
    .section {
        height: 100vh;
    }
} */

@media only screen and (max-height: 600px) {
    .img-logo {
        /* width: 75% !important; */
        width: 100%;
        margin: auto;
    }
    .img-score {
        width: 65% !important;
    }
    .leader-row-bg1 {
        height: 5.8% !important;
        margin-top: 14% !important;
    }
    .leader-row-bg2 {
        height: 5.8% !important;
    }
}


/* ------------------------------------------------ */


/* --------------- Section Video ------------------ */


/* ------------------------------------------------ */

.bg-animation {
    width: 100%;
    height: 100%;
    animation-name: example;
    animation-duration: 26s;
    z-index: -1;
    position: absolute;
    background: url('../images/revised/bg_game.jpg');
    background: url('../images/revised/bg_game.webp');
    background-size: cover;
    background-position: 0% 0%;
}

@keyframes example {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}


/* @keyframes example {
  0%   { background: url('../images/game/testbg.jpg');
  background-size: cover;
  background-position: 0% 0%;}
  100% { background: url('../images/game/testbg.jpg');
    background-size: cover;
    background-position: 100% 0%;}
} */

.sec1 {
    background-color: rgb(63, 133, 224);
    height: 100%;
}

.section-video {
    background: url('../images/revised/bg_home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: calc((9/16) * 100vh);
    height: 100%;
    width: 100%;
    margin: auto;
    position: relative;
}

.img-logo {
    /* margin-bottom: -18vh; */
    width: 100%;
    /* margin: auto; */
}

.img-score {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.score-bar {
    width: 100%;
    background-color: #00a3e4;
    height: auto;
    position: relative;
    margin-top: -27%;
    line-height: 1.25;
    font-size: 75px;
    color: #19a7e4;
    font-family: 'DB Heavent' !important;
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0px -3px 1px #fff, 0px 3px 1px #fff, -3px 0px 0 #fff, 3px 0px 0 #fff, 3px 3px 0 #FFF, -3px -3px 0 #FFF, 3px -3px 0 #FFF, -3px 3px 0 #FFF, 0 0 10px #000;
}

.home-button {
    position: absolute;
    bottom: 4vh;
}

.section-video video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.howto-img {
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

#how-img_2 {
    width: 90%;
}

.howto-1 {
    opacity: 0;
    position: relative;
    width: 100%;
    /* width: 28rem; */
}

.howto-2 {
    opacity: 0;
    position: relative;
    width: 100%;
}

.howto-3 {
    opacity: 0;
    position: relative;
    width: 100%;
}

.how-box {
    width: 90%;
    margin: auto;
}

.img-how {
    width: 80%;
}

.img-back {
    width: 60%;
}

.how-next {
    position: absolute;
    left: 20%;
}

.how-skip {
    position: absolute;
    right: 20%;
}

.how-but {
    margin-top: -12%;
}

.how-start {
    margin-top: -18%;
}

.section-video .home-hidden {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0;
}

.section-video .home-show {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}

.w3-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    to {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

.regis-box {
    width: 96%;
    /* height: 130%; */
    /* margin-top: 50px; */
    background: url('../images/game3/form/popup.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 20%;
}

.regis-input {
    margin-top: 85%;
    padding: 0 42px;
    text-align: left !important;
}

.regis-input label {
    color: #2f5163;
    width: 100%;
    font-size: 20px;
    line-height: 1.2;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

.form-control {
    font-size: 22px !important;
    line-height: 1.5;
}

.regis-input span {
    color: red;
}

.regis-button {
    /*margin-top: -40px;*/
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.leader-box {
    width: 85%;
    background: url('../images/revised/leader_frame.png');
    background: url('../images/revised/leader_frame.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    padding-top: 30%;
    height: 95%;
}

.leader-button {
    margin-top: -40px;
}

.leader-row {
    /* padding: 50px; */
    text-align: left;
}

.leader-row-item {
    display: none;
    box-shadow: 0 3px 20px 0px rgb(0 0 0 / 20%);
    border-radius: 0.25em;
}

.leader-row .active {
    display: block;
}

.leader-row-bg1 {
    width: 90%;
    background: url('../images/board/row1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}

.leader-row-bg2 {
    width: 90%;
    background: url('../images/board/row2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
}

.my-score {
    background: #FFF;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.leader-score {
    padding-right: 10px;
}

.row-text {
    color: #172a32 !important;
    font-weight: bold !important;
    padding-left: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-text span {
    color: #172a32 !important;
    font-weight: 200 !important;
    line-height: 1.6;
    /* float: right !important; */
}

.row-text2 {
    color: #00a3e4 !important;
    font-weight: bold;
    padding-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.6;
}

.row-text2 span {
    color: #172a32 !important;
    font-weight: bold;
    padding-left: 5px;
}

.row-text2 span.ex {
    color: #172a32 !important;
    font-weight: 200 !important;
    float: right !important;
    padding-right: 10px;
}

@media (min-width: 992px) {
    .section-video .content-container {
        width: 80vw;
    }
}

@media (min-width: 992px) {
    .section-video .content-container .after {
        padding-top: 77.90%;
    }
}

.section-video .video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.section-video .video-container .title {
    position: absolute;
    width: 40%;
    left: 30%;
    margin-top: 5%;
}

.section-video .video-container .choose-team1 {
    position: absolute;
    width: 45%;
    left: 27.5%;
    top: 17%;
}

.section-video .video-container .choose-team1 img {
    width: 100%;
}

.section-video .video-container .choose-team2 {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 49%;
}

.section-video .video-container .choose-team2 img {
    width: 100%;
}

.section-video .howto-nav .howto-start {
    width: 25%;
    position: relative;
    display: inline-block;
    margin-right: 1%;
    cursor: pointer;
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.modal-color {
    color: #6a6a6a;
    font-weight: 100;
}

ul {
    list-style-type: decimal;
}

.no-ui {
    list-style-type: none !important;
}

@media (min-width: 992px) {
    /* .section-video .howto-nav .howto-start {
    width: 15%;
  } */
}

.section-video .howto-nav .howto-start.active {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.section-video .howto-nav .howto-start img {
    width: 100%;
}

.section-video .howto-nav .howto-start img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}


/* ------------------------------------------------ */


/* --------------- Section Howto ------------------ */


/* ------------------------------------------------ */


/* .section-howto {
  background: url('../images/howto/howto-bg.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
} */

.section-howto {
    background: url('../images/revised/bg_howto_before.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    max-width: calc((9/16) * 100vh);
    height: 100%;
    width: 100%;
    margin: auto;
}

@media (min-width: 992px) {
    /* .section-howto {
    background: url('../images/howto/howto-bg-d.jpg');
    background-size: cover;
    background-position: center center;
  } */
}

@media (min-width: 992px) {
    .section-howto .content-container {
        width: 80vw;
    }
}

@media (min-aspect-ratio: 695/400) and (min-width: 992px) {
    .section-howto .content-container {
        width: 70vw;
    }
}

@media (min-width: 992px) {
    .section-howto .content-container .after {
        padding-top: 77.90%;
    }
}

.section-howto .howto-container .howto-page {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.section-howto .howto-container .howto-page #fb-btn {
    margin-top: 50% !important;
}

@media (min-width: 992px) {
    .section-howto .howto-container .howto-page #fb-btn {
        margin-top: 42% !important;
    }
}

.section-howto .how-box.howto-hidden {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0;
}

.section-howto .how-box .howto-show {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}

.section-howto .howto-container .howto-page .howto-img {
    width: 78%;
    position: absolute;
    top: 4%;
    left: 11%;
}

@media (min-width: 992px) {
    .section-howto .howto-container .howto-page .howto-img {
        top: 13%;
        width: 86%;
        left: 7%;
    }
}

.section-howto .howto-container .howto-page .howto-orange {
    position: absolute;
    z-index: 10;
    width: 45%;
    top: 69%;
    left: 6%;
}

@media (min-width: 992px) {
    .section-howto .howto-container .howto-page .howto-orange {
        width: 25%;
        top: 60%;
        left: 0%;
    }
}

.section-howto .how-box .howto-nav.howto-hidden {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 0;
}

.section-howto .how-box .howto-show {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}

@media (min-width: 992px) {
    /* .section-howto .how-box .howto-nav {
    bottom: 20%;
  } */
}

.section-howto .how-box .howto-nav .howto-skip {
    width: 22%;
    position: relative;
    display: inline-block;
    margin-right: 1%;
    cursor: pointer;
}

@media (min-width: 992px) {
    /* .section-howto .how-box .howto-nav .howto-skip {
    width: 15%;
  } */
}

.section-howto .how-box .howto-nav .howto-skip img {
    width: 150%;
}

.section-howto .how-box .howto-nav .howto-skip img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.section-howto .how-box .howto-nav .howto-next {
    width: 22%;
    position: relative;
    display: inline-block;
    margin-left: 1%;
    cursor: pointer;
}

@media (min-width: 992px) {
    /* .section-howto .how-box .howto-nav .howto-next {
    width: 15%;
  } */
}

.section-howto .how-box .howto-nav .howto-next img {
    width: 150%;
}

.section-howto .how-box .howto-nav .howto-next img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}


/* ------------------------------------------------ */


/* --------------- Section Choose ------------------ */


/* ------------------------------------------------ */

.section-choose {
    background: url('../images/howto/howto-bg2.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    .section-choose {
        background: url('../images/howto/howto-bg-d.jpg');
        background-size: cover;
        background-position: center center;
    }
}

@media (min-width: 992px) {
    .section-choose .content-container {
        width: 80vw;
    }
}

@media (min-aspect-ratio: 695/400) and (min-width: 992px) {
    .section-choose .content-container {
        width: 70vw;
    }
}

@media (min-width: 992px) {
    .section-choose .content-container .after {
        padding-top: 77.90%;
    }
}

.section-choose .choose-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.section-choose .choose-container.active {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.section-choose .choose-container .title {
    position: absolute;
    width: 40%;
    left: 30%;
    margin-top: 5%;
}

@media (min-width: 992px) {
    .section-choose .choose-container .title {
        width: 30%;
        left: 35%;
    }
}

.section-choose .choose-container .choose-team1 {
    position: absolute;
    width: 45%;
    left: 27.5%;
    top: 17%;
}

@media (min-width: 992px) {
    .section-choose .choose-container .choose-team1 {
        width: 25%;
        left: 20%;
        top: 30%;
    }
}

.section-choose .choose-container .choose-team1 img {
    width: 100%;
}

.section-choose .choose-container .choose-team2 {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 49%;
}

@media (min-width: 992px) {
    .section-choose .choose-container .choose-team2 {
        width: 28%;
        right: 20%;
        left: auto;
        top: 28%;
    }
}

.section-choose .choose-container .choose-team2 img {
    width: 100%;
}

.section-choose .choose-container .howto-nav .howto-start {
    width: 25%;
    position: relative;
    display: inline-block;
    margin-right: 1%;
    cursor: pointer;
}

@media (min-width: 992px) {
    /* .section-choose .choose-container .howto-nav .howto-start {
    width: 20%;
  } */
}

.section-choose .choose-container .howto-nav .howto-start img {
    width: 100%;
}

.section-choose .choose-container .howto-nav .howto-start img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}


/* ------------------------------------------------ */


/* --------------- Section Game ------------------ */


/* ------------------------------------------------ */

.section-game {
    /* background: url('../images/game/bg.jpg'); */
    background-size: cover;
    background-position: center center;
}

@media (min-width: 992px) {
    /* .section-game {
    background: url('../images/game/bg-d.jpg');
    background-size: cover;
    background-position: center center;
  } */
}

.section-game .game-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}

.section-game .game-container .clock-container {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 120px;
    z-index: 10;
}

@media (min-width: 992px) {
    .section-game .game-container .clock-container {
        left: -30%;
    }
}

.section-game .game-container .clock-container .clock-bg {
    width: 120%;
    position: relative;
    left: 0px;
    top: 34px;
}

.section-game .game-container .clock-container p {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-right: 3px;
    line-height: 123px;
    top: 0px;
    left: 15px;
    font-size: 30px;
}

.section-game .game-container .score-container {
    position: absolute;
    top: 2.1%;
    right: 2%;
    width: 150px;
    z-index: 10;
}

@media (min-width: 992px) {
    .section-game .game-container .score-container {
        right: -35%;
    }
}

.section-game .game-container .score-container .score-bg {
    width: 100%;
    position: relative;
    left: 0px;
    top: 34px;
}

.section-game .game-container .score-container p {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    /* padding-right: 10%; */
    line-height: 120px;
    top: 0px;
    color: #00a3e4;
    left: 10px;
    font-size: 30px;
}

.section-game .game-container .droprow-container {
    position: absolute;
    width: 100%;
    height: calc(100% + 100px);
    top: -100px;
    left: 0px;
}

.section-game .game-container .droprow-container .droprow {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
}

.section-game .game-container .droprow-container .droprow .drop-item {
    width: 100%;
    height: 100px;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/* random icon */

.section-game .game-container .droprow-container .droprow .drop-item.icon-1,
.section-game .game-container .droprow-container .droprow .drop-item.icon-30 {
    background-image: url('../images/game_icon/g1.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-2,
.section-game .game-container .droprow-container .droprow .drop-item.icon-31 {
    background-image: url('../images/game_icon/g2.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-3,
.section-game .game-container .droprow-container .droprow .drop-item.icon-32 {
    background-image: url('../images/game_icon/g3.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-4,
.section-game .game-container .droprow-container .droprow .drop-item.icon-33 {
    background-image: url('../images/game_icon/g4.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-5,
.section-game .game-container .droprow-container .droprow .drop-item.icon-34 {
    background-image: url('../images/game_icon/g5.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-6,
.section-game .game-container .droprow-container .droprow .drop-item.icon-35 {
    background-image: url('../images/game_icon/g6.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-7,
.section-game .game-container .droprow-container .droprow .drop-item.icon-36 {
    background-image: url('../images/game_icon/g7.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-8,
.section-game .game-container .droprow-container .droprow .drop-item.icon-37 {
    background-image: url('../images/game_icon/g8.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-9,
.section-game .game-container .droprow-container .droprow .drop-item.icon-38 {
    background-image: url('../images/game_icon/g9.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-10,
.section-game .game-container .droprow-container .droprow .drop-item.icon-39 {
    background-image: url('../images/game_icon/g10.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-11,
.section-game .game-container .droprow-container .droprow .drop-item.icon-40 {
    background-image: url('../images/game_icon/g11.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-12,
.section-game .game-container .droprow-container .droprow .drop-item.icon-41 {
    background-image: url('../images/game_icon/g12.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-13,
.section-game .game-container .droprow-container .droprow .drop-item.icon-42 {
    background-image: url('../images/game_icon/g13.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-14,
.section-game .game-container .droprow-container .droprow .drop-item.icon-43 {
    background-image: url('../images/game_icon/g14.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-15,
.section-game .game-container .droprow-container .droprow .drop-item.icon-44 {
    background-image: url('../images/game_icon/g15.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-16,
.section-game .game-container .droprow-container .droprow .drop-item.icon-45 {
    background-image: url('../images/game_icon/g16.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-17,
.section-game .game-container .droprow-container .droprow .drop-item.icon-46 {
    background-image: url('../images/game_icon/g17.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-18,
.section-game .game-container .droprow-container .droprow .drop-item.icon-47 {
    background-image: url('../images/game_icon/g18.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-19,
.section-game .game-container .droprow-container .droprow .drop-item.icon-48 {
    background-image: url('../images/game_icon/g19.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-20,
.section-game .game-container .droprow-container .droprow .drop-item.icon-49 {
    background-image: url('../images/game_icon/g20.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-21,
.section-game .game-container .droprow-container .droprow .drop-item.icon-50 {
    background-image: url('../images/game_icon/g21.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-22,
.section-game .game-container .droprow-container .droprow .drop-item.icon-51 {
    background-image: url('../images/game_icon/g22.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-23,
.section-game .game-container .droprow-container .droprow .drop-item.icon-52 {
    background-image: url('../images/game_icon/g23.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-24,
.section-game .game-container .droprow-container .droprow .drop-item.icon-53 {
    background-image: url('../images/game_icon/g24.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-25,
.section-game .game-container .droprow-container .droprow .drop-item.icon-54 {
    background-image: url('../images/game_icon/g25.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-26,
.section-game .game-container .droprow-container .droprow .drop-item.icon-55 {
    background-image: url('../images/game_icon/g26.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-27,
.section-game .game-container .droprow-container .droprow .drop-item.icon-56 {
    background-image: url('../images/game_icon/g27.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-28,
.section-game .game-container .droprow-container .droprow .drop-item.icon-57 {
    background-image: url('../images/game_icon/g28.png');
}

.section-game .game-container .droprow-container .droprow .drop-item.icon-29,
.section-game .game-container .droprow-container .droprow .drop-item.icon-58 {
    background-image: url('../images/game_icon/g29.png');
}


/* random icon */

.section-game .game-container .droprow-container .droprow .drop-item.type-2 {
    /* background-color: red; */
    background-image: url('../images/game/type2.png');
    background-size: cover;
    height: 120px;
}

.section-game .game-container .bubble-container .bubble-1 {
    position: absolute;
    width: 36%;
    left: 32%;
    top: 45%;
}

.section-game .game-container .bubble-container .bubble-2 {
    position: absolute;
    width: 22%;
    left: 16%;
    top: 61%;
}

.section-game .game-container .bubble-container .bubble-3 {
    position: absolute;
    width: 30%;
    left: 11%;
    top: 35%;
}

.section-game .game-container .bubble-container .bubble-4 {
    position: absolute;
    width: 33%;
    left: 58%;
    top: 31%;
}

.section-game .game-container .bubble-container .bubble-5 {
    position: absolute;
    width: 30%;
    left: 62%;
    top: 54%;
}

.section-game .game-container .bubble-container .bubble-6 {
    position: absolute;
    width: 36%;
    left: 32%;
    top: 45%;
}

.section-game .game-container .bubble-container .bubble-item {
    opacity: 0;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
}

.section-game .game-container .bubble-container .bubble-item.active {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.section-game .game-container .bottom-check {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0%;
    height: 20%;
}

.section-game .game-container .bottom-check .check-item {
    position: relative;
    float: left;
    height: 100%;
    width: 20%;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background-color: rgba(255, 255, 255, 0.4);
}

.section-game .game-container .bottom-check .check-item.active {
    background-color: rgba(255, 255, 255, 0.7);
}

.section-game .game-container .bottle-container {
    position: absolute;
    width: 100%;
    /* bottom: 70px; */
    /* left: 0%; */
    height: 10%;
    bottom: 5vh;
}

.section-game .game-container .bottle-container .bottle {
    position: absolute;
    left: 0%;
    bottom: 0px;
    width: 20%;
    height: 100%;
}

.section-game .game-container .bottle-container .bottle .bottle-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    left: -50%;
}

.section-game .game-container .bottle-container .bottle .bottle-inner .bottle-img {
    width: 140%;
    left: -20%;
    bottom: 0%;
    position: absolute;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.section-game .game-container .bottle-container .bottle .bottle-inner .bottle-img.active {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.bombed {
    filter: blur(5px);
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

.exploded {
    filter: invert(100%);
    animation-name: fade_touched;
    animation-duration: .2s;
    animation-timing-function: linear;
}

.winked {
    filter: saturate(150%) brightness(150%);
    animation-name: fade_touched;
    animation-duration: .2s;
    animation-timing-function: linear;
}

@keyframes fade_touched {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}


/* ------------------------------------------------ */


/* --------------- Section Score ------------------ */


/* ------------------------------------------------ */

.section-score {
    background: url('../images/revised/bg_score.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    max-width: calc((9/16) * 100vh);
    height: 100%;
    width: 100%;
    margin: auto;
}

@media (min-width: 992px) {
    /* .section-score {
    background: url('../images/game/bg-d.jpg');
    background-size: cover;
    background-position: center center;
  } */
    /* @keyframes example {
    0%   { background: url('../images/game/testbg.jpg');  background-size: 100% 100%; left:0px;}
    100% { background: url('../images/game/testbg.jpg'); background-size: 100% 100%; left:-3500px;}
  } */
}

@media (min-width: 1920px) and (max-width: 2560px) {
    /* @keyframes example {
    0%   { background: url('../images/game/testbg.jpg');  background-size: 100% 100%; left:0px;}
    100% { background: url('../images/game/testbg.jpg'); background-size: 100% 100%; left:-3000px;}
  } */
}

@media (min-width: 992px) {
    .section-score .content-container {
        width: 80vw;
    }
}

@media (min-aspect-ratio: 695/400) and (min-width: 992px) {
    .section-score .content-container {
        width: 65vw;
    }
}

@media (min-width: 992px) {
    .section-score .content-container .after {
        padding-top: 77.90%;
    }
}

.section-score .hidden-canvas {
    display: none;
}

.section-score .score-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.section-score .score-container.active {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.section-score .score-container .top-container {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 3%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
}

@media (min-width: 992px) {
    .section-score .score-container .top-container {
        width: 45%;
        left: 4%;
        top: 21%;
    }
}

.section-score .score-container .top-container .profile-img {
    position: absolute;
    width: 30%;
    top: 10%;
    left: 10%;
    border-radius: 100%;
    border: 4px solid #fff;
}

.section-score .score-container .top-container .text-img {
    position: absolute;
    width: 40%;
    top: 61%;
    left: 5%;
}

.section-score .score-container .top-container .score-img {
    position: absolute;
    width: 30%;
    top: 16%;
    left: 58%;
}

.section-score .score-container .top-container .score-display {
    position: absolute;
    width: 30%;
    top: 60%;
    left: 58%;
    text-align: center;
    font-size: 100px;
    color: #000;
}

.section-score .score-container .top-container .score-display2 {
    position: absolute;
    width: 30%;
    top: 60%;
    left: 58%;
    text-align: center;
    font-size: 100px;
    color: #000;
}

.section-score .score-container .score-bottle {
    position: absolute;
    width: 70%;
    left: 15%;
    bottom: 20%;
}

@media (min-width: 992px) {
    .section-score .score-container .score-bottle {
        width: 40%;
        left: 55%;
        bottom: 38%;
    }
}

.section-score .score-container .ref {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 3%;
}

@media (min-width: 992px) {
    .section-score .score-container .ref {
        width: 70%;
        left: 15%;
        bottom: 10%;
    }
}


/* ------------------------------------------------ */


/* ------------- Section Register ----------------- */


/* ------------------------------------------------ */

.section-register {
    background: url('../images/game3/form/bg.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: local;
    /*max-width: calc((9/16) * 100vh);*/
    overflow-y: auto;
    overflow-x: clip;
    height: 100%;
    width: 100%;
    margin: auto;
}

.regis-section-bottom{
    margin-top: -8px;
    width: 94%
}
@media only screen and (max-width: 375px) {
    .regis-section-bottom{
        width: 93.5%
    }
}

.section-register .register-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
}

.section-register .register-container.active {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.section-register .register-container .register-panel {
    background-color: #fefcff;
    width: 80%;
    position: absolute;
    left: 10%;
    height: 60%;
    top: 20%;
    border-radius: 5%;
    padding: 0% 5%;
    min-height: 380px;
}

@media (max-width: 359px) {
    .section-register .register-container .register-panel {
        min-height: 340px;
    }
}

.section-register .register-container .register-panel .regis-header {
    width: 100%;
    margin-top: -5%;
}

.section-register .register-container .register-panel .title {
    width: 40%;
    position: absolute;
    top: -8%;
    left: 30%;
}

.section-register .register-container .register-panel .input-container {
    margin-top: 8%;
}

.section-register .register-container .register-panel input {
    margin-bottom: 5%;
}

.section-register .register-container .register-panel .submit-btn {
    background-color: transparent;
    outline: none;
    border: none;
    width: 46%;
    position: absolute;
    bottom: -10%;
    left: 12%;
}

.section-register .register-container .register-panel .submit-btn img {
    width: 100%;
}

.section-register .register-container .register-panel .share {
    width: 20%;
    position: absolute;
    bottom: -10%;
    left: 60%;
}


/* ------------------------------------------------ */


/* ------------- Section board ----------------- */


/* ------------------------------------------------ */

.section-board {
    background: url('../images/revised/bg_board.jpg');
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    max-width: calc((9/16) * 100vh);
    height: 100%;
    width: 100%;
    margin: auto;
}

@media (max-width: 425px) {
    .section {
        max-width: 100% !important;
        font-size: 16px;
        height: 100vh;
    }
    .img-logo {
        width: 70%;
        margin: auto;
    }
    .howto-img {
        width: 80%;
    }
    #how-img_2 {
        width: 70%;
    }
    .leader-box {
        width: 75%;
        height: 90%;
        font-size: 15px;
    }
}